.about {
  padding: 80px 0 110px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.about__info {
  max-width: 445px;
  z-index: 3;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0;
  z-index: 1;
}

.about__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.about__rectangle {
  background-color: #393f47;
  width: 410px;
  height: 482px;
  position: absolute;
  left: 32%;
  z-index: 2;
  top: 0;
}

.about__list {
  z-index: 3;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about__list_element {
  width: 200px;
  height: 160px;
  background-color: #fff;
  background-size: 100%;
  color: #000;
  border: 1px solid #c8a35f;
  flex-direction: column;
  align-items: center;
}

.about__list_element_title {
  margin: 23px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f343a;
  height: 60px;
  text-align: center;
}

.about__list_element_subtitle {
  margin: 10px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  height: 17px;
}

.about__list_element_paragraph {
  margin: 15px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .about {
    flex-direction: column;
    gap: 10px;
    max-width: 825px;
    width: 100%;
    align-items: flex-start;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 865px) {
  .about {
    max-width: 550px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    max-width: 274px;
  }
}

@media screen and (max-width: 1023px) {
  .about__rectangle {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .about__list {
    padding: 0;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .about__list {
    grid-template-columns: repeat(2, 202px);
  }
}

@media screen and (max-width: 767px) {
  .about__list {
    grid-template-columns: repeat(2, 202px);
  }
}

@media screen and (max-width: 550px) {
  .about__list {
    grid-template-columns: 202px;
  }
}
