.header {
  display: flex;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  margin: 0 0 27px;
  padding: 0;
}

.header__logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 160px;
  height: 46px;
}

.header__line {
  border: 1px solid #f2f2f2;
}

.header__info {
  display: flex;
  gap: 30px;
}

.header__location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__location_ico {
  background-image: url(../images/location.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 25px;
  height: 25px;
}

.header__location_link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header__nav_list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__nav_list_link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 1024px;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 638px) {
  .header {
    flex-wrap: wrap;
    height: 130px;
  }
}

@media screen and (max-width: 1023px) {
  .header__nav_list_link {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav_list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 130px;
  }
}

@media screen and (max-width: 767px) {
  .header__location_ico {
    width: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__location_link {
    font-size: 10px;
    width: 35px;
  }
}
