.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/intro.jpg);
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  height: 620px;
  left: 0;
  top: 145px;
}

.intro__info {
  border: 1px solid #c8a35f;
  padding: 45px 72px;
}

.intro__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.intro__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 777px;
  margin: 29px 0 0;
  padding: 0;
}
