.page {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  min-width: 320px;
  max-width: 1920px;
}

::-webkit-scrollbar {
  background-color: rgb(59, 59, 59);
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(100, 94, 94);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(112, 105, 105);
}