.services {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 561px;
  width: 100%;
  max-width: 1920px;
  position: relative;
  justify-content: center;
}

.services__info {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-right: 45px;
  z-index: 1;
}

.services__info_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0;
}

.services__info_subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 50px;
  padding: 0;
}

.services__info_button {
  background-color: #c8a35f;
  border: 0;
  width: 220px;
  height: 55px;
  color: #fff;
  cursor: pointer;
}

.services__image {
  height: 266px;
  z-index: 1;
}

.services__links {
  display: flex;
  flex-direction: column;
  gap: 245px;
  z-index: 1;
}

.services__links_next {
  display: flex;
  height: 20px;
  gap: 30px;
  text-decoration: none;
  width: 161px;
  justify-content: space-between;
}

.services__links_next_text {
  color: #c8a35f;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.services__links_next_arrow {
  background-image: url(../images/next.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  width: 65px;
  height: 20px;
}

.services__links_prev {
  display: flex;
  height: 20px;
  text-decoration: none;
  width: 161px;
  justify-content: space-between;
}

.services__links_prev_text {
  color: #c8a35f;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.services__links_prev_arrow {
  background-image: url(../images/prev.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  width: 65px;
  height: 20px;
}

.services__rectangle_left {
  background-color: #393f47;
  width: 755px;
  height: 561px;
  position: absolute;
  z-index: 0;
  right: 0;
}

.services__rectangle_right {
  background-color: #393f47;
  width: 755px;
  height: 561px;
  position: absolute;
  z-index: 0;
  left: 0;
}

@media screen and (max-width: 1279px) {
  .services__info {
    padding: 0;
  }
}

@media screen and (max-width: 1279px) {
  .services__image {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .services__info {
    width: 250px;
  }
}

@media screen and (max-width: 1023px) {
  .services__info_title {
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1023px) {
  .services__info_subtitle {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1023px) {
  .services__info_button {
    width: 150px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .services__image {
    width: 250px;
    height: 150px;
  }
}

@media screen and (max-width: 1023px) {
  .services__links {
    width: 125px;
  }
}

@media screen and (max-width: 1023px) {
  .services__links_next {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .services__links_prev {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .services__links_next_arrow {
    width: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .services__links_prev_arrow {
    width: 40px;
  }
}

@media screen and (max-width: 767px) {
  .services {
    flex-direction: column;
    height: 800px;
    gap: 50px;
    background-color: #393f47;
  }
}

@media screen and (max-width: 767px) {
  .services__rectangle_left {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .services__rectangle_right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .services__info {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .services__image {
    width: 320px;
    height: 220px;
  }
}

@media screen and (max-width: 767px) {
  .services__links {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .services__info {
    width: 90%;
  }
}
